<!DOCTYPE HTML>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="graphs.css">
		<title>Player Comparer</title>
	</head>
	<body>
		<div id="body-wrapper">
			<div class="wrapper">
				<div ng-app="mainApp" ng-controller="mainAppCtrl" id="mainContainer">
					<form novalidate>
						Summoner Name: <input type="text" ng-model="searchName">
						<br>
						Region: <input type="text" ng-model="searchRegion">
						<button ng-click="findPlayer()">Find Player</button>
					</form>			
					<p>Id: <span ng-bind="playerId"></span><p>
					<p>Summoner Name: <span ng-bind="playerName"></span><p>
					<p>Level: <span ng-bind="playerLevel"></span></p>
					<p>Profile Icon: <span ng-bind="playerProfileIconId"></span><p>
					<br>
					<button ng-show="playerInitStatus()" ng-click="findPlayerStats()">Get Player Stats</button>
				</div>
			</div>
		</div>
		<script>		
		var playerJSON;
		var playerMatchlistJSON;
		var playerMatchlist;
		var app = angular.module('mainApp',[]);
		app.controller('mainAppCtrl', function($scope){	
			$scope.initialized = '';
			$scope.playerId = '';
			$scope.getPlayerData = function(){
				var oReq = new XMLHttpRequest();
				var playerMatchlistEndpoint = "https://na.api.pvp.net/api/lol/"+ $scope.searchRegion + "/v2.2/matchlist/by-summoner/" + $scope.playerId + "?api_key=9ec38048-8f55-418a-b5d5-0adf99d032d2";
				oReq.addEventListener("load", function(){
					playerMatchlistJSON = JSON.parse(this.response);
					playerMatchlist = new matchlist(playerMatchlistJSON, function(){
						$scope.initialized = true;	
						//Need to inform angular about changes to variables
						$scope.$digest();
						$('#mainContainer').fadeIn();
					});								
				});
				oReq.open("GET", playerMatchlistEndpoint);
				oReq.send();
			};			

			$scope.bindPlayerData = function(){
				$scope.playerId = playerJSON['id'];
				$scope.playerName = playerJSON['name'];
				$scope.playerLevel = playerJSON['summonerLevel'];
				$scope.playerProfileIconId = playerJSON['profileIconId'];
			};

			$scope.findPlayer = function(){
				$('#mainContainer').fadeOut(function(){
					var oReq = new XMLHttpRequest();
					var playerEndpoint = "https://na.api.pvp.net/api/lol/" + $scope.searchRegion + "/v1.4/summoner/by-name/" + $scope.searchName + "?api_key=9ec38048-8f55-418a-b5d5-0adf99d032d2";
					oReq.addEventListener("load",function(){
						playerJSON = JSON.parse(this.response)[$scope.searchName];
						$scope.bindPlayerData();
						$scope.getPlayerData();
					});				
					oReq.open("GET", playerEndpoint);
					oReq.send();
				});				
			};	

			$scope.findPlayerStats = function(){
				playerMatchlist.favChampions(undefined, function(favChampions){
					var champGamesList = new Array();
					for(var x = 0; x < favChampions.length; x++){
						champGamesList.push({ name : favChampions[x].name, games : favChampions[x].numGames});
					}			
					return drawNumGames(champGamesList);
				});						
			};	

			$scope.listGetNumGames = function(champGamesList){
				var numGames = new Array();
				for(var i = 0; i < champGamesList.length; i++){
					numGames.push(champGamesList[i].games);
				}
				return numGames;
			};
			
			$scope.playerInitStatus = function(){
				return $scope.initialized;
			};			
		});
		</script>
		<script type="text/javascript" src="matchlist.js"></script>
		<script type="text/javascript" src="champion.js"></script>
		<script type="text/javascript" src="d3graphics.js"></script>
	</body>
</html>
